/* Estilo geral da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0F1829;
    color: #D5BE65;
    margin: 20px;
}

/* Botão de criação */
form[action="createEndereco.jsp"] button {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}


/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    font-size: 16px;
}


/* Botões de Update e Delete */
form[action="updateEndereco.jsp"] button,
form[action="ServletDeleteEndereco"] input[type="submit"] {
    border: none;
    padding: 1%;
    width: 70px;
    height: 70px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Mensagem de nenhum endereço */
td[colspan="9"] {
    font-style: italic;
}