body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    height: 80vh;
    width: 230px;
    background-color: #1a263d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.perfil {
    margin-top: 30px;
    text-align: center;
}

.perfil-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #182337;
}

.perfil-nome {
    color: #d5be65;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: rgba(213, 190, 101, 0.2);
    color: #d5be65;
}

.menu img {
    width: 18px;
    transition: 0.3s;
}

.menu a:hover img {
    filter: brightness(1.2) sepia(1) saturate(2) hue-rotate(10deg);
}

.logout {
    border: none;
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-top: auto;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

.logout img {
    width: 16px;
    filter: invert(27%) sepia(95%) saturate(7435%) hue-rotate(351deg) brightness(90%) contrast(115%);
}

.logout:hover {
    color: #d5be65;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fbf9fb;
    padding: 30px 40px;
    padding-left: 270px;
    overflow: hidden;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.topo h2 {
    color: #1a263d;
    font-size: 22px;
    font-weight: 600;
}

.logo {
    width: 60px;
    object-fit: contain;
    margin-top: 30px;
}

.sub-header {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-top: 10px;
}

.hover-link {
    color: #a9a9a9;
    margin-right: 15px;
    font-weight: 500;
    cursor: pointer;
}

.hover-link:hover,
.hover-link.ativo {
    color: #d5be65;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    height: 32px;
    width: 200px;
}

.search input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 13px;
    padding: 6px 10px;
}

.search button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.search button img {
    width: 16px;
    opacity: 0.7;
    transition: 0.2s;
}

.search button:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.novo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a263d;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
    height: 50px;
}

.novo:hover {
    background-color: #d5be65;
    color: #1a263d;
}

.filtro {
    background-color: #d5be65;
    border: none;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.filtro img {
    width: 12px;
    filter: brightness(0) invert(1);
}

.filtro:hover {
    background-color: #1a263d;
    transform: scale(1.05);
}

.tabela-container {
    flex: 1;
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 15px;
    font-size: 13px;
    overflow-wrap: break-word;
    word-break: break-word;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fbf9fb;
    z-index: 1;
    color: #1a263d;
}

td {
    color: #333;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}

tr:hover td {
    background-color: rgba(213, 190, 101, 0.1);
    cursor: pointer;
}

td.acoes img {
    width: 25px;
    cursor: pointer;
    transition: 0.2s;
}

td.acoes img:hover {
    transform: scale(1.1);
}

.input-redondo {
    width: 100%;
    max-width: 350px;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: transparent;
    font-size: 14px;
    color: white;
    outline: none;
    text-align: left;
    transition: box-shadow 0.3s ease;
}

.input-redondo::placeholder {
    color: #ccc;
    text-align: left;
}



.input-redondo:focus {
    box-shadow: 0 0 0 2px rgba(213, 190, 101, 0.4);
}

.select-redondo {
    width: 100%;
    max-width: 380px;
    height: 40px;
    padding: 0 15px;
    border: 0.5px solid #999;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #333;
    transition: box-shadow 0.3s ease;
    background-position: right 12px center;
    background-size: 10px 7px;
}

.select-redondo:focus {
    box-shadow: 0 0 0 2px rgba(213, 190, 101, 0.4);
}

.actions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 30px 10px;
    justify-items: center;
}

.botao-menu {
    margin-top: 10px;
    width: 120px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #d5be65;
    border: 1px solid #d5be65;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: auto;
}




.botao-menu:hover {
    background-color: #d5be65;
    color: #1a263d;
}



.login-page {
    background-image: url('assets/cozinha.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.login-page::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(26, 38, 61, 0.91);
    z-index: 0;
}
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}
.login-divider {
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 60%;
    align-self: center;
}

.login-left,
.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
    text-align: center;
}
.login-subtitle {
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.label-login {
    color: white;
    text-align: left;
    align-self: flex-start;
    font-size: 14px;
}


