body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    height: 80vh;
    width: 230px;
    background-color: #1a263d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.perfil {
    margin-top: 30px;
    text-align: center;
}

.perfil-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #182337;
}

.perfil-nome {
    color: #d5be65;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: rgba(213, 190, 101, 0.2);
    color: #d5be65;
}

.menu img {
    width: 18px;
    transition: 0.3s;
}

.menu a:hover img {
    filter: brightness(1.2) sepia(1) saturate(2) hue-rotate(10deg);
}

.logout {
    border: none;
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-top: auto;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

.logout img {
    width: 16px;
    filter: invert(27%) sepia(95%) saturate(7435%) hue-rotate(351deg) brightness(90%) contrast(115%);
}

.logout:hover {
    color: #d5be65;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fbf9fb;
    padding: 30px 40px;
    padding-left: 270px;
    overflow: hidden;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.topo h2 {
    color: #1a263d;
    font-size: 22px;
    font-weight: 600;
}

.logo {
    width: 60px;
    object-fit: contain;
    margin-top: 30px;
}

.sub-header {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    margin-top: 10px;
}

.hover-link {
    color: #a9a9a9;
    margin-right: 15px;
    font-weight: 500;
    cursor: pointer;
}

.hover-link:hover,
.hover-link.ativo {
    color: #d5be65;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.acoes img {
    width: 10px;
}

.novo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a263d;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
    height: 50px;
}

.novo:hover {
    background-color: #d5be65;
    color: #1a263d;
}
/*antigo*/
/*.tabela-container {*/
/*    flex: 1;*/
/*    overflow-x: auto;*/
/*    overflow-y: auto;*/
/*    max-height: 50vh;*/
/*    margin-top: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 8px;*/
/*    background-color: white;*/
/*}*/

.tabela-container {
    flex: 1;
    overflow-y: auto;
    max-height: 60vh;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: max-content;
    min-width: 100%;

}

th, td {
    text-align: left;
    padding: 15px;
    font-size: 13px;
    white-space: nowrap;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fbf9fb;
    z-index: 1;
    color: #1a263d;
}

td {
    color: #333;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}

tr:hover td {
    background-color: rgba(213, 190, 101, 0.1);
    cursor: pointer;
}

td.acoes img {
    width: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

td.acoes img:hover {
    transform: scale(1.3);
}

.input-redondo {
    width: 100%;
    max-width: 350px;
    height: 40px;
    padding: 0 15px;
    border: 0.5px #999 solid;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-redondo::placeholder {
    color: #999;
}

.input-redondo:focus {
    box-shadow: 0 0 0 2px rgba(213, 190, 101, 0.4);
}

.select-redondo {
    width: 100%;
    max-width: 380px;
    height: 40px;
    padding: 0 15px;
    border: 0.5px solid #999;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #333;
    transition: box-shadow 0.3s ease;
    background-position: right 12px center;
    background-size: 10px 7px;
}

.select-redondo:focus {
    box-shadow: 0 0 0 2px rgba(213, 190, 101, 0.4);
}

.actions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 30px 10px;
    justify-items: center;
}

.botao-menu {
    width: 100%;
    max-width: 220px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-color: #1a263d;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao-menu:hover {
    background-color: #d5be65;
}

